* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center; /*center from top to bottom*/
    align-items: center; /*center between left and right*/
    min-height: 100vh;

}

/* mobile first approach */

.block {
    max-width: 80%;
    height: 80%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 80%;
    height: auto;

}
