* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center; /*center from top to bottom*/
    align-items: center; /*center between left and right*/
    min-height: 100vh;

}

/* mobile first approach */

.block {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}

.subBlock {
    display: flex;
    flex-direction: column;
    padding: 5vh;

}

.perfume {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(228, 12%, 48%);

}

h1 {
    font-family: "Fraunces", serif;
    /* font-optical-sizing: auto; */
    font-weight: 900;
    font-style: normal;
   
}

p {
    color: hsl(228, 12%, 48%);
}

.prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.price1 {
    color: hsl(158, 36%, 37%);
    font-size: xx-large;
    font-family: "Montserrat", serif;
    
}

.price2 {
    text-decoration: line-through;
}

.custom-button { 
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-color: hsl(158, 36%, 37%);
    
}

/* desktop */

@media (min-width: 48em) {
    .block {
        flex-direction: row;
        height: 80vh;
        width: 80vh;
    }
    img {
        width: 50%;
        border-bottom-left-radius:5% ;
        border-top-right-radius:0% ;
    }
    .subBlock {
        width: 50%;
        height: 80%;
    }


    .perfume {
        font-weight: 300;
    }

    h1 {
        font-weight: 700;
    }

    .prices {
        gap: 10px;
    }

    .price1 {
        font-size: larger;
    }

    .custom-button { 
        size: 60%;

    }
    
}

@media (min-width: 64em) {
    
    .block {
        flex-direction: row;
        height: 70vh;
        width: 100vh;
        
    }
    

    img {
        width: 50%;
        border-bottom-left-radius:5% ;
        border-top-right-radius:0% ;
    }
    .subBlock {
        width: 50%;
        height: auto;
    }




}